.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem 1rem;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 685px) {
  .container {
    max-width: var(--max-width);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
