.icon {
  transition: fill 0.2s;
  cursor: pointer;
}

.fillPath,
.stokePath {
  transition: 0.2s;
}

.icon:hover .fillPath {
  fill: var(--variant-light);
}

.icon:hover .stokePath {
  stroke: var(--variant-light);
}
