:root {
  --variant: #b99ce8;
  --variant-light: #e6d5f3;
  --variant-dark: #64409f;

  --gray: #d4d4d4;
  --gray-light: #f4f1f6;

  --text-light: #6b6a6a;
  --text-medium: #4f4f4f;
  --text-dark: #313131;

  --error: #963434;

  --max-width: 1000px;
  --margin-x: calc(50vw - (var(--max-width) / 2));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-dark);
  font-size: 100%;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

main {
  padding-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  color: var(--text-medium);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  padding: 4px 6px;
}

ul {
  list-style: none;
}
