:root {
  --variant: #b99ce8;
  --variant-light: #e6d5f3;
  --variant-lighter: #f4f1f6;
  --variant-light-hover: #ebdff5;
  --variant-dark: #64409f;

  --gray: #d4d4d4;
  --gray-light: #f4f1f6;

  --text-light: #6b6a6a;
  --text-medium: #4f4f4f;
  --text-dark: #313131;

  --error: #963434;

  --max-width: 1000px;
  --margin-x: calc(50vw - (var(--max-width) / 2));

  --topbar-height: 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-dark);
  font-size: 100%;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

main {
  padding-bottom: 2rem;
}

h1 {
  font-size: 1.5rem;
  color: var(--text-medium);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  padding: 4px 6px;
}

ul {
  list-style: none;
}

@media (min-width: 500px) {
  :root {
    --topbar-height: 25vmin;
  }
  h1 {
    font-size: 2rem;
  }
}

.rti--container {
  --rti-s: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid var(--variant-light) !important;
  gap: 0.5rem !important;
}

.rti--container:has(> input:disabled) {
  background-color: rgba(239, 239, 239, 0.3);
}

.rti--container > input:disabled {
  display: none;
}

.react-colorful {
  position: absolute !important;
  z-index: 1 !important;
  top: 0 !important;
  left: 3rem !important;
}
