.button {
  background-color: var(--variant-light);
  color: var(--variant-dark);
  font-size: 1rem;
  border-radius: 4px;
  padding: 4px 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.button:disabled {
  opacity: 0.9;
  cursor: auto;
}

.button p {
  color: var(--variant-dark);
}

.large {
  font-size: 1.5rem;
  padding: 6px 20px;
}
