.container {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.sortDropdown {
  margin-right: auto;
}

@media (min-width: 335px) {
  .sortDropdown {
    width: 90px;
  }
  .coursesDropdown {
    width: 110px;
  }
  .termsDropdown {
    width: 94px;
  }
}

@media (min-width: 500px) {
  .container {
    gap: 1rem;
  }
}

@media (min-width: 685px) {
  .container {
    max-width: var(--max-width);
  }
  .sortDropdown {
    width: 102px;
  }
  .coursesDropdown {
    width: 134.5px;
  }
  .termsDropdown {
    width: 115px;
  }
}
