.editor {
  margin-bottom: 1rem;
}

.editor > * {
  outline: none;
}

.editor h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

.editor h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.editor h3 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.editor p {
  margin: 1rem 0;
  line-height: 1.6;
}

.editor li > p {
  margin: 0.25rem 0;
}

.editor ul {
  list-style: disc;
  padding-left: 1rem;
}

.editor ol {
  list-style: decimal;
  padding-left: 1rem;
}

.editor img {
  position: relative;
  width: 90%;
  left: 5%;
  margin: 0.5rem 0;
}

.editor iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.editor div:has(> iframe) {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.editor strong {
  font-weight: 700;
}

.editor a {
  color: var(--variant-dark);
  cursor: pointer;
}

.editor a strong {
  color: var(--variant-dark);
}

@media (min-width: 500px) {
  .editor img {
    width: 75%;
    left: 12.5%;
  }
  .editor div:has(> iframe) {
    position: relative;
    padding-bottom: 0;
    height: initial;
  }
  .editor iframe {
    position: relative;
    left: 50%;
    width: 480px;
    height: 270px;
    transform: translate(-50%, 0);
  }
}

@media (min-width: 1024px) {
  .editor img {
    width: 60%;
    left: 20%;
  }
  .editor iframe {
    width: 640px;
    height: 360px;
  }
}
