.menuBar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  width: 100%;
  background-color: #fff;
  border: 2px solid var(--gray-light);
  border-bottom: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 0.5rem;
}

.buttonGroup {
  display: flex;
  gap: 4px;
}

.menuBar button,
.menuBar label {
  padding: 4px;
  border-radius: 2px;
  background-color: var(--gray-light);
  cursor: pointer;
}

button.isActive {
  background-color: var(--variant-light);
}

@media (min-width: 725px) {
  .menuBar {
    justify-content: space-around;
  }
}
