.container {
  position: relative;
  display: flex;
}

.clickable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--variant-light);
  border-radius: 4px;
  background-color: white;
  padding: 4px;
  font-size: 1rem;
  color: var(--text-light);
  flex-grow: 1;
  cursor: pointer;
  min-width: 90px;
}

.chevron {
  margin-left: 4px;
}

.menu {
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  right: 0;
  background-color: white;
  border: 2px solid var(--variant-light);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px 0;
  z-index: 1;
}

.menuItem {
  padding: 2px 4px;
  font-size: 1rem;
  color: var(--text-light);
  cursor: pointer;
}

.menuItem:hover {
  background-color: var(--gray-light);
}
