.topBar {
  height: calc(var(--topbar-height) * 3 / 2);
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.container a {
  position: absolute;
  top: 1rem;
  left: 0;
  text-decoration: none;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.container a p {
  color: var(--text-light);
}

.themeContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.themeContainer label {
  color: var(--text-light);
}

.colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.colorPicker::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
.colorPicker::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

.userContainer {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.imageContainer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.imageContainer img {
  object-fit: cover;
}

.defaultAvatar {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.overlay:focus,
.overlay:hover {
  opacity: 1;
}

.overlay input {
  display: none;
}

.uploadButton {
  background-color: var(--variant-light);
  color: var(--text-light);
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}

.username {
  font-size: 1.5rem;
}

@media (min-width: 500px) {
  .themeContainer {
    gap: 1rem;
  }
  .userContainer {
    gap: 1.5rem;
  }
  .imageContainer {
    width: 180px;
    height: 180px;
  }
  .username {
    font-size: 2rem;
  }
}

@media (min-width: 685px) {
  .container {
    max-width: var(--max-width);
  }
}
