.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: max(50%, 250px);
  align-self: flex-end;
}

.container button {
  align-self: flex-end;
}

.statsContainer {
  margin-top: 1rem;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

.number {
  font-size: 2rem;
  color: var(--variant-dark);
  margin-right: 1rem;
}

@media (min-width: 685px) {
  .container {
    padding-bottom: 1.5rem;
    width: auto;
    align-self: auto;
  }
  .statText {
    font-size: 1.2rem;
  }
}
